params {
    // References
    genome                     = 'GRCh38'
    
    // parabricks
    ignore_samples = ["Unassigned", "PhiX", "phiX", "CBPhiX", "Undetermined"]
    known_sites = []
    model_file = null
    interval_bed = null
    
    // Boilerplate options
    outdir                     = './results'
    publish_dir_mode           = 'copy'
    tracedir                   = "${params.outdir}/pipeline_info"
    enable_conda               = false
    igenomes_base              = 's3://ngi-igenomes/igenomes'
    igenomes_ignore            = false
    
    use_elembio_igenomes       = false

    // sentieon
    sentieon_license           = '52.12.17.193:8990'
    sentieon_ml_model          = null
    interval_bed               = null

    // containers    
    sentieoncli_container_url  = '147637153406.dkr.ecr.us-west-2.amazonaws.com/modules/sentieon-cli'
    sentieoncli_container_tag  = '202308.03'
    
    // Config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '144.GB'
    max_cpus                   = 72
    max_time                   = '48.h'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
    name            = 'elembio/parabricks-nf'
    author          = 'Bryan R Lajoie'
    homePage        = 'https://gitlab.com/elembio/analysis/nextflow-workflows/parabricks-nf'
    description     = 'parabricks-nf'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.0.0'
}

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    test { includeConfig 'conf/test.config' }
    test_elembio { includeConfig 'conf/test_elembio.config' }
    AVITI { includeConfig 'conf/AVITI.config' }
    tower_macrodev_spot { includeConfig 'conf/tower_macrodev_spot.config' }
}

// Load igenomes.config if required
if (!params.igenomes_ignore && params.use_elembio_igenomes) {
    includeConfig 'conf/elembio_igenomes.config'
} else if (!params.igenomes_ignore && !params.use_elembio_igenomes) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'