params {
   config_profile_name        = 'Batch Jobs profile'
   config_profile_description = 'batch per sample tasks by N batch size'

}

process {
   withName: SENTIEON_CLI  {
      cpus = { 
         def cpu_list = [8, 16, 36, 48]
         return task.attempt <= cpu_list.size() ? cpu_list[task.attempt - 1] : 48 // Use last value if attempts exceed list
      }
      memory = {
         def memory_list = ['12.GB', '28.GB', '68.GB', '92.GB']
         return task.attempt <= memory_list.size() ? memory_list[task.attempt - 1] : '92.GB' // Use last value if attempts exceed list
      }
      maxRetries = 4
      maxForks = params.batch_size
   }
}
