/*
========================================================================================
    nf-core/elemutils Nextflow base config file
========================================================================================
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'SENTIEON_CLI' {
        cpus = { 
            def cpu_list = [16, 36, 48]
            return task.attempt <= cpu_list.size() ? cpu_list[task.attempt - 1] : 48 // Use last value if attempts exceed list
        }
        memory = {
            def memory_list = ['26.GB', '64.GB', '90.GB']
            return task.attempt <= memory_list.size() ? memory_list[task.attempt - 1] : '92.GB' // Use last value if attempts exceed list
        }
        maxRetries = 4
        maxForks = (params.batch_size != -1) ? params.batch_size : 24
    }
    
    withName: 'MULTIQC' {
        cpus   = { check_max( 2 * task.attempt, 'cpus' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time = { check_max( 1.h * task.attempt, 'time' ) }
        maxRetries = 3
    }

}
