params {
   config_profile_name        = 'Test profile'
   config_profile_description = 'Minimal test dataset to check pipeline function'

   max_cpus   = 12
   max_memory = '19.GB'
   max_time   = '1.h'

   sentieon_license           = '52.12.17.193:8990'

}

process {
    withName: SENTIEON_CLI  {
        cpus = 12
        memory = 19.GB
        time = 1.h
        maxRetries = 3
    }
}

cleanup = false

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 10
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 10
      uploadMaxThreads = 10
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 1000
      uploadChunkSize = 32.MB
   }
}
