/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: SENTIEON_CLI {
        cpus = 32
        memory = 64.GB
        time = 6.h
        maxRetries = 3
        publishDir = [
            path: { "${params.outdir}/Samples/${meta.id}/sentieon-cli/" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }
}

cleanup = false

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 48
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 48
      uploadMaxThreads = 48
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 100
      uploadChunkSize = 32.MB
   }
   batch {
      maxParallelTransfers = 48
   }
}
