params {
   config_profile_name        = 'Test profile'
   config_profile_description = 'Minimal test dataset to check pipeline function'

   // genome
   genome = "GRCh38"
    
   // sentieon
   sentieon_ml_model = "https://s3.amazonaws.com/sentieon-release/other/DNAscopeElementBioWGS2.0.bundle"
   assay = "WES"
   target_region_bed = "s3://element-public-data/testdata/exome/xgen-exome-hyb-panel-v2-targets-hg38.bed"
   known_sites = []
   pcr = true

   // input
   input = "${baseDir}/tests/csv/small_trinity_idt_fastq.csv"

   // output
   outdir                     = './results/'

}

cleanup = false

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 10
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 10
      uploadMaxThreads = 10
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 1000
      uploadChunkSize = 32.MB
   }
}
